# 1. Importing Libraries and Dataframe

In [4]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/zoipisourika/Desktop/Career Foundry/Data Immersion/Achievement 4/Instacart Basket Analysis/02 Data'

In [3]:
# Importing dataframe 
ords_prods_merge = pd.read_pickle(os.path.join(path, "Prepared Data", "orders_products_with_new_variables.pkl"))

# 2. Find the average order number for each department

In [5]:
# Find the aggregated mean of the “order_number” column grouped by “department_id” 

ords_prods_merge.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### How do the results for the entire dataframe differ from those of the subset?

The results for the whole dataframe inlcude all the departments. Also, for departments that appeared in the subset, the means are different now that more values have been taken into account during the calculation of the mean.

# 3. Create a 'loyalty flag'

### 3.1 Create a new column that calculates the max order number for each customer

In [6]:
# Create a new column that calculates the max order number for each customer

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
# Check output

ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Fewest orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22

### 3.2 Create a loyalty flag based on the max_order column, using the loc() function

In [14]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'Loyalty_flag'] = 'New Customer'

In [15]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] > 10) & (ords_prods_merge['max_order'] <= 40), 'Loyalty_flag'] = 'Regular Customer'

In [16]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'Loyalty_flag'] = 'Loyal Customer'

In [24]:
# Checking the values count for the Loyalty flag

ords_prods_merge['Loyalty_flag'].value_counts(dropna = False)

Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: Loyalty_flag, dtype: int64

The results match the ones from the exercise practice.

In [25]:
# Check output with new column

ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty flag,Loyalty_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer,New Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer,New Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer,New Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New Customer,New Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New Customer,New Customer

In [26]:
# Drop 'Loyalty flag' to keep output clean

ords_prods_merge = ords_prods_merge.drop(columns = ['Loyalty flag'])

In [27]:
# Check output

ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New Customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New Customer

# 4. Explore the difference between the spending habits of the three types of customers

In [22]:
# Group data based on the new loyalty flag and calculate mean, mix, and max for price

ords_prods_merge.groupby('Loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
Loyalty_flag
Loyal Customer    10.386336  1.0  99999.0
New Customer      13.294670  1.0  99999.0
Regular Customer  12.495717  1.0  99999.0

We are trying to determine whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers. The above output suggests that loyal customers purchase items that on average are cheaper than the items purchased by new customers and regular customers.

# 5. Create a 'spending flag'


 - If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
 - If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [28]:
# Create new column for average spend per user

ords_prods_merge['average_spend_user'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [30]:
# Check new column output

ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty_flag,average_spend_user
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New Customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New Customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest orders,10,New Customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Fewest orders,10,New Customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,22,Regular Customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy,Average orders,9,New Customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular Customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy,Fewest orders,20,Regular Customer,8.137793

In [31]:
# Derive new spending flag column using the loc() function

ords_prods_merge.loc[ords_prods_merge['average_spend_user'] < 10, 'Spending_flag'] = 'Low Spender'

In [32]:
ords_prods_merge.loc[ords_prods_merge['average_spend_user'] >= 10, 'Spending_flag'] = 'High Spender'

In [33]:
# Check value count for spending flag

ords_prods_merge['Spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: Spending_flag, dtype: int64

In [34]:
# Check dataframe output with the new spending flag column

ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty_flag,average_spend_user,Spending_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797,Low Spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Fewest orders,10,New Customer,6.367797,Low Spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy,Fewest orders,10,New Customer,6.367797,Low Spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,22,Regular Customer,3.980556,Low Spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556,Low Spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,Mid-range product,Least busy,Least busy,Average orders,9,New Customer,8.372059,Low Spender
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular Customer,7.012683,Low Spender
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,Mid-range product,Regularly busy,Least busy,Fewest orders,20,Regular Customer,8.137793,Low Spender

# 6. Create 'order frequency flag'

- If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
- If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
- If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [35]:
# Create a new column showing the median of 'days_since_prior_order' for each customer (i.e. grouped by 'user_id')

ords_prods_merge['median_order_freq_user'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [36]:
# Check output

ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty_flag,average_spend_user,Spending_flag,median_order_freq_user
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer,6.367797,Low Spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender,20.0
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797,Low Spender,20.0
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.0
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.0
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Fewest orders,10,New Customer,6.367797,Low Spender,20.0
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Fewest orders,10,New Customer,6.367797,Low Spender,20.0
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Fewest orders,22,Regular Customer,3.980556,Low Spender,8.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556,Low Spender,8.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender,7.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,9.0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender,7.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,Mid-range product,Least busy,Least busy,Average orders,9,New Customer,8.372059,Low Spender,7.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular Customer,7.012683,Low Spender,7.0
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,9.0,Mid-range product,Regularly busy,Least busy,Fewest orders,20,Regular Customer,8.137793,Low Spender,6.0

In [37]:
# Derive new order frequency flag column using the loc() function

ords_prods_merge.loc[ords_prods_merge['median_order_freq_user'] > 20, 'Order_frequency_flag'] = 'Non-frequent customer'

In [39]:
ords_prods_merge.loc[(ords_prods_merge['median_order_freq_user'] <= 20) & (ords_prods_merge['median_order_freq_user'] > 10), 'Order_frequency_flag'] = 'Regular customer'

In [40]:
ords_prods_merge.loc[ords_prods_merge['median_order_freq_user'] <= 10, 'Order_frequency_flag'] = 'Frequent customer'

In [41]:
# Check value counts for new column

ords_prods_merge['Order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22790523
Regular customer          6927608
Non-frequent customer     2686728
Name: Order_frequency_flag, dtype: int64

In [42]:
# Checking dataframe output with the new column

ords_prods_merge.head(20)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,Loyalty_flag,average_spend_user,Spending_flag,median_order_freq_user,Order_frequency_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Fewest orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Average orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Most orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Fewest orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Fewest orders,10,New Customer,6.367797,Low Spender,20.0,Regular customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Fewest orders,22,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular Customer,3.980556,Low Spender,8.0,Frequent customer
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender,7.0,Frequent customer
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New Customer,8.372059,Low Spender,7.0,Frequent customer
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Least busy,Average orders,9,New Customer,8.372059,Low Spender,7.0,Frequent customer
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,Mid-range product,Regularly busy,Least busy,Most orders,33,Regular Customer,7.012683,Low Spender,7.0,Frequent customer
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,Mid-range product,Regularly busy,Least busy,Fewest orders,20,Regular Customer,8.137793,Low Spender,6.0,Frequent customer

In [43]:
# Exporting dataframe

ords_prods_merge.to_pickle(os.path.join(path, "Prepared Data", "orders_products_with_flags.pkl"))